.p{
    margin: 10px;
    }
.h2{
    margin: 10px;
   }

.page{
    /* display: flex; */
    flex-direction: column;
    background-color: hsl(177, 31%, 78%);
    height:100vh;
}
.formContainer{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    /* align-self: center; */
    width: 100%;
    height:100%
}
.container{
    margin: 10px;
}
.container2{
    margin-left: 20px;
}
.form{
    width:500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(253, 251, 251);
    border-radius: 10px
}
.name{
    width: 200px;
    margin-left: 10px;
    border-radius: 10px;
    display: flex;
    padding: 20px;
    flex-direction: row-reverse;
    /* align-self: center; */
    align-self: right;
    justify-content: right;
    /* text-align: left; */
    /* background-color: rgb(255, 255, 255); */
    
}
.name{
    display: flex;
    flex-direction: row-reverse;
    /* align-self: center; */
    align-self: right;
    justify-content: right;
    /* text-align: left; */
    background-color: aliceblue;
    
}

.btnContainer{
    margin-left: 5px;
}
.btnContainer :hover{
	color: rgb(241, 48, 96);
	opacity: 0.8;
}
.btnContainer3{
    /* margin-left: -20px; */
    color: rgb(9, 239, 59);
    text-align: center;
    /* color: blue; */
}
.btnContainer2{
    margin-left: 30px;
}
.btnContainer10{
    margin: auto;
}
.otp{
    background-color: #82def5 !important;
    margin: 15px 50px !important;
    width: 60%;
    height: 45px;
}
.otp:hover{
    color: rgb(241, 48, 96);
	opacity: 0.8;
}
.ctp{
    background-color: #82def5 !important;
    /* margin: 15px 50px !important; */
    width: 60%;
    height: 35px;
}
.ctp:hover{
    background-color: #2a1cea !important;
	opacity: 0.8;
    color:red;
    /* width: 70%; */
}
.verify{
    background-color: #82def5 !important;
    margin: 15px 50px !important;
    width: 60%;
    height: 45px;
}
.verify :hover{
    color: rgb(241, 48, 96);
	opacity: 0.8;
}
.login{
    font-size: large !important;
    color:#2a85e6 !important;
    text-transform: unset !important;
    text-align: center;
}
.resend{
    color:#3700ff !important;
    
    text-transform: unset !important;
}
.resendContainer{
    display: flex;
    align-items: baseline;
}

.inputwidth input {
    text-align: center !important;
}
.textwidth {
    width: 50px !important;
    margin: 10px !important;
}
.icon1{
    width:70px
}
.icon2{
    width:50px
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media only screen and (max-width: 670px) {
    .textwidth {
        width: 37px !important;
        margin: 5px !important;
    }
    .container2{
        margin-left: 5px;
    }
    .resendContainer{
        font-size: 14px;
    }
    
    }